@page "/AddFamily"
@using FamiliesManager.Data
@using Models
@inject NavigationManager NavigationManager
@inject IFamiliesService service
<h3>AddFamilies</h3>

<AuthorizeView>
    <Authorized>
        <EditForm Model="@newFamily" OnValidSubmit="@AddNewFamily" Context="addFamilyForm">
            <DataAnnotationsValidator/>
            <!-- ValidationSummary has the same name in AspNetCore and in Blazorise -->
            <Microsoft.AspNetCore.Components.Forms.ValidationSummary/>

            <div class="form-group">
                Street Name:<br/>
                <InputText @bind-Value="newFamily.StreetName"/>
            </div>
            <div class="form-group">
                House Number:<br/>
                <InputNumber @bind-Value="newFamily.HouseNumber"/>
            </div>
            <p class="actions">
                <button class="btn btn-outline-dark" type="submit">Create Family</button>
            </p>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <h3>Please log in to add families.</h3>
    </NotAuthorized>
</AuthorizeView>

@code {
    private Family newFamily = new Family();


    private void AddNewFamily()
    {
        service.AddFamily(newFamily);
        NavigationManager.NavigateTo("/ViewFamilies");
    }

}